<app-navbar></app-navbar>
<br>
<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7">

    </div>
    <div class="container">
      <div class="content-center brand">

        <div class="section section-tabs">
          <div class="container">
            <div class="row">
              <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                <div class="card card-form">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <h3 class="text-center title form-title">Reinitialiser le mot de passe</h3> <br>

                      <small *ngIf="f.submitted && isResetPasswordFailed" class="alert-danger">{{errorMessage}}</small>
                      <div class="alert alert-success" *ngIf="f.submitted && isSuccessful"> nouveau mot de passe crée avec succées </div>
                        <form class="form-group animate__animated animate__backInDown" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                                <div class="form-group">
                                <input type="password" name="password" id="password" placeholder="Nouveau mot de passe (minimum 8 caractères)" class="form__input form-control" [(ngModel)]="form.password" required minlength="8" maxlength="20" #password="ngModel">
                            </div>
                            <div *ngIf="password.errors && (password.invalid && password.touched)">
                                <small class="text-danger " *ngIf="password.errors?.[ 'required'] ">le mot de passe est obligatoire</small>
                                <small class="text-danger" *ngIf="password.errors?.['minlength']||password.errors?.['maxlength']">le mot de passe doit contenir au moins 8 caractères et au plus 20.</small>
                            </div>
                                <div class="form-group">

                                <input type="password" ngModel name="CPassword" id="CPassword" placeholder="Confirmer le nouveau mot de passe" class="form__input form-control" required minlength="8" [(ngModel)]="form.CPassword" #CPassword="ngModel" [class.is-invalid]="CPassword.invalid && CPassword.touched">
                            </div>
                            <div *ngIf="CPassword.errors && (CPassword.invalid && CPassword.touched)|| (password.value!=CPassword.value)">
                                <small class="text-danger" *ngIf="password.errors?.[ 'required']">le mot de passe est obligatoire</small>
                                <small class="text-danger" [class.d-none]="(password.value==CPassword.value) || CPassword.untouched">les 2 mots de passe ne sont pas identiques</small>
                            </div>
                            <input [disabled]="f.form.invalid" type="submit" value="valider" class="btn btn-info btn-fill button1 float-center">
                        </form>
                    </div>
                    </div>
                 
 
</div>
</div>
</div>
</div>

</div>
<!-- <div>
  
<h6 class="footer">La Griffe © 2022, Tous droits réservés</h6>
</div> -->
</div>
</div>

</div>
</div>





       