.container {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 h4 {
    margin-top: 1rem;
    border: 1px  rgb(161, 159, 159);
    padding: 1rem 3%;
    border-radius: 2rem;
 }