


<!-- <nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid row">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="col align-self-end">
              <a class="navbar-brand" href="#">Planning Poker</a>
          </div>
          <div class="col align-self-center align-item-navbar">
              <ul class="navbar-nav">

              </ul>
          </div>
      </div>
  </div>
  

</nav> -->


<div class="form-group">
    <label for="estFinal">estimation Final</label>
    <input
      class="form-control"
      id="estFinal"
      required
      [(ngModel)]="estFinal"
      name="estFinal"
    />
    <button (click)="saveEstimation()" class="btn btn-success">Save</button>
  </div>










<div class="container container-game">
    <button type="button" rel="tooltip" title="Inviter" class="btn btn-info btn-simple btn-xs" (click)="inviter()" >
        <i class="bi-person-plus"></i>
      </button>
      <button *ngIf="!stream"ctype="button" rel="tooltip" title="Lancer appel video" class="btn btn-info btn-simple btn-xs" (click)="createRoom()" >
          <i class="bi bi-telephone-forward"></i>
      </button>
      <button *ngIf="stream" type="button" rel="tooltip" title="Rejoindre appel video" class="btn btn-info btn-simple btn-xs" (click)="join()" >
          <i class="bi bi-camera-reels"></i>
      </button>
    <h3 style="text-align: center;">{{ sala }}</h3>
  <div class="row justify-content-md-center">
      <div *ngFor="let element of players" class="col col-md-auto">
          <div *ngIf="element.status == ''" class="col">
              <div class=" row card card-empty selected-card-margin"></div>
              <div class="col" style="text-align: center;">
                  <label class="form-label">{{element.player}}</label>
              </div>
          </div>

          <div *ngIf="element.status !='' && virado" class="col">
              <div class=" row card card-empty selected-card-margin">
                  <img src="../../assets/card.png" alt="Carta virada">
              </div>
              <div class="col" style="text-align: center;">
                  <label class="form-label">{{element.player}}</label>
              </div>
          </div>

          <div *ngIf="element.status !='' && !virado"class="col">
              <div class=" row card card-poker selected-card-margin">
                  <div class="col">
                      <i class="bi bi-suit-spade"></i>
                  </div>

                  <div class="col" style="text-align: center;">
                      <p *ngIf="element.carta !='?'">{{element.carta}}</p>
                      <i *ngIf="element.carta =='?'" class="bi bi-cup-straw"></i>
                  </div>

                  <div class="col" style="text-align: right;">
                      <i class="bi bi-suit-spade-fill"></i>
                  </div>
              </div>
              <div class="col" style="text-align: center;">
                  <label class="form-label">{{element.player}}</label>
              </div>
          </div>


      </div>
  </div>

  <div class="container" *ngIf="!visible && admin=='true'">
      <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <div class="collapse navbar-collapse align-bottom-bar">
              <ul class="navbar-nav">
                <li class="nav-item padding-item">
                  <button type="button" class="btn btn-outline-primary" (click)="virarCartas()">affiche cartes</button>
                </li>
                <li class="nav-item padding-item">
                  <button type="button" class="btn btn-outline-primary" (click)="reiniciarGame()">Replay game</button>
                </li>
              </ul>
            </div>
          </div>
        </nav>
  </div>
</div>

<div class="container" style="height: 115px;">
  <div *ngIf="media" class="div-votacao">
      <p>La moyenne des votes était {{ media }}</p>
  </div>
</div>



<!--FiboNormal-->
<div *ngIf="tipo == 1 && !travarCarta" class="container" >
  <div class="row">
      <div class="col" *ngFor="let element of Cardfibo; let i = index" (click)="votar(element, i)" id="card-effect">
          <div class="row card card-poker" [ngClass]="{'active': clickedIndex == i}">
              <div class="col">
                  <i class="bi bi-suit-spade"></i>
              </div>

              <div class="col" style="text-align: center;">
                  <p *ngIf="element !='?'">{{element}}</p>
                  <i *ngIf="element =='?'" class="bi bi-cup-straw"></i>
              </div>

              <div class="col" style="text-align: right;">
                  <i class="bi bi-suit-spade-fill"></i>
              </div>
          </div>
      </div>
  </div>
</div>

<div *ngIf="tipo == 2 && !travarCarta" class="container">
  <div class="row">
      <div class="col" *ngFor="let element of CardSmallFibo; let i = index" (click)="votar(element, i)" [ngClass]="{'active': clickedIndex == i}" id="card-effect">
          <div class="row card card-poker">
              <div class="col">
                  <i class="bi bi-suit-spade"></i>
              </div>

              <div class="col" style="text-align: center;">
                  <p *ngIf="element !='?'">{{element}}</p>
                  <i *ngIf="element =='?'" class="bi bi-cup-straw"></i>
              </div>

              <div class="col" style="text-align: right;">
                  <i class="bi bi-suit-spade-fill"></i>
              </div>
          </div>
      </div>
  </div>
</div>
