
@import "src/assets/sass/light-bootstrap-dashboard-all.scss";

.form-check {
  padding-left: 0rem;
}
label{
  font-weight: 400 !important;
}
.legend{
  width: 100%;
}
.card .header {
    padding: 15px 15px 0;
  }
  .card .content {
    padding: 15px 15px 10px 15px;
  }
  .card .title {
    margin: 4;
    color:
    #333333;
    font-weight: 300;
  }

  .card {
    border-radius: 4px;
    box-shadow: 0 1px 2px
  rgba(0, 0, 0, 0.05), 0 0 0 1px
  rgba(63, 63, 68, 0.1);
  background-color:
    #FFFFFF;
    margin-bottom: 30px;
  }
  .card .category, .card label {
    font-size: 14px;
    font-weight: 400;
    color:
    #9A9A9A;
    margin-bottom: 0px;
  }

  .now-ui-icons{
    font-size: medium;
  }

  .card .title {
    margin: 0;
    color:
    #333333;
    font-weight: 300;
  }

  .card .category, .card label {
    font-size: 14px;
    font-weight: 400;
    color:
    #9A9A9A;
    margin-bottom: 0px;
  }

  .sidebarBlack:after{

    background: linear-gradient(to bottom, rgba(11, 158, 237, 0.956) 0%, rgba(243, 139, 139, 0.623) 100%);
    background-size: 100% 150%;
  }
  .search-name {
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .search-name:focus {
    color: #00B4CC;
  }
  