  


          <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <div class="row">
          
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-primary text-white mb-4">
          
                                <div class="card-body">Nombre des utilisateurs inscris :    {{this.a}}</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" routerLink="/admin/users">Liste des utilisateurs</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
          
                        <div class="col-xl-3 col-md-6">
          
                          <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
          
                                <div class="card-body">Nombre de salles d'estimation : {{this.c}} </div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" routerLink="/admin/estimation-rooms">Liste des salles d'estimation </a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-xl-3 col-md-6">
          
                            <div class="card bg-success text-white mb-4">
          
                                <div class="card-body">Nombre des Réclamations envoyés : {{this.countrec}}</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">Liste des reclamations</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-danger text-white mb-4">
                                <div class="card-body">Nombre de rapports d'estimation : {{this.d}} </div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" routerLink="/admin/reports">Liste des rapports</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
          </div>
<!--           <div class="col-md-6 text-center">
             <canvas baseChart 
              [data]="salesData" 
              [type]="'bar'"
              [options]="chartOptions"
             >
            </canvas>  
          </div>   -->
         
  


    
  
 
