.example-container {
    width: 100%;
    height: 100%;
  }
  
  .sidenav {
      width: 14rem;
      color: white;
  
      background: linear-gradient(180deg, rgba(2,0,36,1) 0%,  rgb(100, 194, 249) 0%, rgb(51, 179, 253) 100%);
      a {
          color: white;
      }
      i {
          margin-right: .6rem;
      }
  }
  img {
      width: 100%;
      height: 7rem;
      margin: .8rem auto 1rem auto;
  }
  .menu {
    margin: 1rem 0 0 1rem;
      color: white;
      background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgb(100, 194, 249) 0%, rgb(51, 179, 253) 100%);
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 h4 {
    margin-top: 1rem;
    border: 1px  rgb(161, 159, 159);
    padding: 1rem 3%;
    border-radius: 2rem;
 }