/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@import "src/assets/sass/light-bootstrap-dashboard.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url(assets/scss/grid.scss);
html{
  height: 100%;
}
.wrapper, .sidebar-collapse{
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
